# SUPABASE CONFIG
SUPABASE_URL=https://cjcdbbcqaezhalqixyslp.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNqY2RiY3FhZXpoYWxxaXh5c2xwIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzgzMTk4OTksImV4cCI6MjA5Mzg5NTg5OX0.oYuOucbwkjjkrSolh7AAXJouuSKpFY6JpPo93UtK0CE
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImNqY2RiY3FhZXpoYWxxaXh5c2xwIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3ODMxOTg5OSwiZXhwIjoyMDkzODk1ODk5fQ.GvFfbnAGUq11qnz_MhHL8Yz4_rR4DQCQe8Mo0AOhP8w

# SERVER CONFIG
PORT=3000
NODE_ENV=development

# JWT SECRET
JWT_SECRET=your_super_secret_jwt_key_change_this_in_production

# ADMIN CREDENTIALS
ADMIN_USERNAME=salehe
ADMIN_PASSWORD=5050
